# Flask server configuration.
FLASK_APP=todo_app/app
FLASK_ENV=development

# Change the following values for local development.
SECRET_KEY=secret-key

# Change these values for your DB
DB_CONNECTION_STRING=db-connection-string
DB_NAME=db-name