{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <table>
        {% for card in cards %}
          <tr>
            <td>{{ card.name }}</td>
            <td>{{ card.status }}</td>
            {% if card.status == 'To Do' or card.status == 'Doing' %}
            <td>
              <form action="{{ url_for('update_status', card_id=card.id, current_list=card.status)}}" method="post">
                <input type="submit" value="Update Status"/>
              </form>
            </td>
            {% endif %}
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>

  <form action="/submit" method="post">
    <h2>Add a new item</h2>
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" required>
    <input type="submit" value="Submit">
  </form>
{% endblock %}